<div class="popup mfp-hide" id="popup-settings">
    <form class="popup__form">
        <div class="popup__title h6">Account Settings</div>
        <div class="popup__tags"><a class="popup__tag active" href="#">Profile</a><a class="popup__tag" href="#">Password</a><a class="popup__tag" href="#">Email</a><a class="popup__tag" href="#">Notification</a><a class="popup__tag" href="#">Settings</a></div><select class="popup__select mobile-show">
            <option>Profile</option>
            <option>Password</option>
            <option>Email</option>
            <option>Notification</option>
            <option>Settings</option>
        </select>
        <div class="popup__user">
            <div class="popup__title h6 mobile-show">Your Profile</div>
            <div class="popup__category caption-sm">Your Avatar</div>
            <div class="popup__line">
                <div class="popup__ava"><img class="popup__pic" src="img/ava.png" alt=""></div>
                <div class="popup__details">
                    <div class="popup__btns">
                        <div class="popup__loading"><input class="popup__file" type="file"><button class="popup__btn btn btn_purple">Upload New</button></div><button class="popup__btn btn btn_gray">Delete Avatar</button>
                    </div>
                    <div class="popup__text">Avatar help your teammates recognize you in Unity.</div>
                </div>
            </div>
        </div>
        <div class="popup__fieldset">
            <div class="popup__row">
                <div class="popup__field field">
                    <div class="field__label">Your Full Name</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
                <div class="popup__field field">
                    <div class="field__label">Display Name</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__field field">
                    <div class="field__label">Role</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
                <div class="popup__field field">
                    <div class="field__label">Location</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__field field">
                    <div class="field__label">Role</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
                <div class="popup__field field">
                    <div class="field__label">Team</div>
                    <div class="field__wrap"><input class="field__input" type="text"></div>
                </div>
            </div>
            <div class="popup__field field">
                <div class="field__label">Bio</div>
                <div class="field__wrap"><textarea class="field__textarea"></textarea></div>
            </div>
        </div><button class="popup__btn btn btn_black" type="submit">Update Profile</button>
    </form>
</div>